In [1]:
10+ 15

25

## **Hey**  *guys*

In [2]:
a=100
b=1
a,b=b,a
s="The new value in the variables are: "
print(s)
print(a,b)

The new value in the variables are:
1 100

In [3]:
s.upper()

'THE NEW VALUE IN THE VARIABLES ARE: '

In [4]:
import numpy as np

In [5]:
a=[10,20,30,40,50]

In [6]:
b=np.array(a)
b

array([10, 20, 30, 40, 50])

In [7]:
type(b)

numpy.ndarray

In [8]:
str="Hello {}".format("Everyone")
str

'Hello Everyone'

In [9]:
print(len(str))

14

In [10]:
str.strip()[2:6]

'llo '

In [11]:
str.strip()[2:6][0:2]

'll'

In [12]:
str.replace('e','S')

'HSllo EvSryonS'

In [13]:
str.replace('Hello','Hey').upper()

'HEY EVERYONE'

In [14]:
t=(25,"Siddharth",100)

In [15]:
print("The length of tuple is {} and the first element is {}".format(len(t),t[0]))

The length of tuple is 3 and the first element is 25

In [16]:
l=['100','2','2356','4511']

In [17]:
print("The reverse of the list is {}".format(l.reverse()))

The reverse of the list is None

In [18]:
print("The sort of the list is {}".format(l.sort()))

The sort of the list is None

In [19]:
import random
randomlist = []
sum=0
for i in range(0,10):
    n = random.randint(1,30)
    randomlist.append(n)
    sum=sum+n
print(randomlist)
print("The sum of the list is {} ".format(sum))

[15, 29, 9, 18, 29, 21, 6, 7, 13, 18]
The sum of the list is 165

In [20]:
new_list=sorted(randomlist)
print("The sorted list is {} ".format(new_list))

The sorted list is [6, 7, 9, 13, 15, 18, 18, 21, 29, 29]

In [21]:
randomlist.sort()

In [22]:
print("The sorted list is {} ".format(randomlist))

The sorted list is [6, 7, 9, 13, 15, 18, 18, 21, 29, 29]

In [23]:
randomlist.append(100)
randomlist.append(1)
randomlist.append(25)
print("The list after appending three elements is {} ".format(randomlist))

The list after appending three elements is [6, 7, 9, 13, 15, 18, 18, 21, 29, 29, 100, 1, 25]

In [24]:
randomlist.reverse()

In [25]:
print("The revserse of list is {} ".format(randomlist))

The revserse of list is [25, 1, 100, 29, 29, 21, 18, 18, 15, 13, 9, 7, 6]